.board {
  max-height: 18rem;
  overflow-y: auto;
}

.guess {
  border: 2px solid var(--color-tertiary);
  color: var(--color-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  width: 2.5rem;
  margin: 0.25rem auto;
  text-align: center;
  text-transform: uppercase;
}

.notification {
  margin: 1.5rem 0.5rem 0.5rem;
  border: 2px solid rgba(var(--color-theme), 0.25);
  h2 {
    background-color: rgba(var(--color-theme), 0.25);
    padding: 0.5rem;
    margin-top: 0;
  }
  p {
    font-size: 1.25rem;
  }
}
