.letters {
  margin: 0 -0.5rem;
  @media (min-width: 429px) {
    width: 30rem;
    margin: 0 auto;
  }
  button {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 1rem;
    width: 2rem;
    border: 0;
    border-radius: 5px;
    margin: 0.1rem;
    padding: 0.4rem;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    @media (min-width: 429px) {
      font-size: 1.25rem;
      width: 2.5rem;
      margin: 0.2rem;
    }

    &:nth-of-type(11) {
      margin-left: 1rem;
    }
    &:nth-of-type(19) {
      margin-right: 1rem;
    }
  }
}
