@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --color-primary: #fff;
  --color-secondary: #282c34;
  --color-tertiary: #5a5a5a;
}

body {
  background-color: var(--color-secondary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
  text-align: center;
}

.App {
  margin: 0 auto;
  padding: 0.25rem;
  max-width: 60em;
}

.incorrect {
  background-color: rgb(120, 124, 126);
  color: white;
  cursor: initial;
}

.correct {
  background-color: rgb(106, 170, 100);
  color: white;
}

.correct-text {
  color: rgb(106, 170, 100);
}

@media (min-width: 429px) {
  .App {
    padding: 0.5rem;
  }
}
