@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --color-primary: #fff;
  --color-secondary: rgb(26, 26, 26);
  --color-tertiary: #5a5a5a;
  --color-correct: rgb(106, 170, 100);
  --color-incorrect: rgb(120, 124, 126);
  --color-theme: 187, 134, 252;
}

body {
  background-color: var(--color-secondary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
  text-align: center;
}

.App {
  margin: 0 auto;
  padding: 0.25rem;
  max-width: 60em;
}

.incorrect {
  background-color: var(--color-incorrect);
  color: white;
  cursor: initial;
}

.correct {
  background-color: var(--color-correct);
  color: white;
}

.correct-text {
  color: var(--color-correct);
}

@media (min-width: 429px) {
  .App {
    padding: 0.5rem;
  }
}

h2 {
  text-transform: capitalize;
}

button.choice {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0.25rem 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(var(--color-theme), 0.5);
  color: var(--color-primary);
  outline: 0;
  border: 0;
  border: 2px solid rgba(var(--color-theme), 0.25);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s all;
}

button.choice:hover,
button.choice:active {
  background-color: rgba(var(--color-theme), 0.75);
}

nav {
  margin-top: 2rem;
}
