@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --color-primary: #fff;
  --color-secondary: #282c34;
  --color-tertiary: #5a5a5a;
}

body {
  background-color: var(--color-secondary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
  text-align: center;
}

.App {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 60em;
}

.board {
  max-height: 18rem;
  overflow-y: auto;
}

.guess {
  border: 2px solid var(--color-tertiary);
  color: var(--color-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  width: 2.5rem;
  margin: 0.25rem auto;
  text-align: center;
  text-transform: uppercase;
}

.incorrect {
  background-color: rgb(120, 124, 126);
  color: white;
  cursor: initial;
}

.correct {
  background-color: rgb(106, 170, 100);
  color: white;
}

.correct-text {
  color: rgb(106, 170, 100);
}
